body, html {
	height: 100%;
}

.login-form {
	border: none;
	border-bottom: 2px solid #fff;
	width: 250px;
	outline: none;
	color: white;
	background: none
}

h2 {
	
	font-weight: normal;
}

button {
	width: 250px;
}

.form {
	background-color: #161c35;
	position: absolute;
	width: 100%;
	height: 100%;
}

.info {
	font-size: 22px;
}

.cancel a {
	color: #fff;
}