/*.login-form {
	outline: none;
	border: none;
	border-bottom: 2px solid black;
	width: 250px;
	margin-bottom: 10px;
	color: black;
	background: transparent;
}

.authorization-button {
	width: 200px;
	height: 50px;
	background-color: #65c000;
	border-radius: 6px;
}

.authorization-button:hover {
	background-color: #00d924;
  	border: 1px solid #00d924;
  	cursor: pointer;
}*/
