* {
    font-family: sans-serif;
}

.header-bottom-text {
    font-size: 20px;
}

.header-top {
       background: rgba(88, 26, 13, 0.85)
}


.header-bottom {
    height: 50px;
    background: bisque;
}

.header-bottom-text {
    color: black;
}

.header-bottom-text:hover {
    cursor: pointer;
}

.authreg {
    font-family: sans-serif;
    font-size: 20px;
    color: black !important;
}


.img-logo {
    display: inline-block;
}

.header-title {
    display: inline-block;
}

.header-sidebar {
    color: white;
}
#sidebar {
    position: fixed;
    width: 260px;
    height: 100%;
    background-color: #151719;
    left: -260px;
    transition: all 500ms linear;
    z-index: 9999;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul {
    padding-inline-start: 0px;
}

#sidebar ul li {
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar ul li:hover {
    cursor: pointer;
}

.toggle-btn {
    position: absolute;
    left: 12px;
    top: 8px;
}

#sidebar .toggle-btn:hover {
    cursor: pointer;
}

.toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: rgba(21, 23, 25, 0.9);
    margin: 5px 0px;
}

.sidebar-auth {
    font-size: 22px;
}

.footer {
    height: 300px;
    background: rgba(190, 190, 190, 0.4);
    box-shadow: 0px 0px 15px #D3D3D3;
}
