body {
    background-color: #b4b4c8;
}

.cat ul{
    list-style-type: none;
    padding-inline-start: 15px;
}

.nav-item {
    font-size: 16px;
    color: black;
}

.first-background {
    background-color: saddlebrown;
}
.first-background-logo-name,  .auth {
    display: inline-block;
    vertical-align: middle;
}
.second-background {
    background-color: bisque;
}

.img {
    display: inline-block;
}

/*saidebar*/

.background-sidebar {
    display: block;
    height: 100%;
}
