.page-title {
    font-size: 1.9rem;
    display: inline-block;
    vertical-align: middle;
}

.form-label-title {
    font-size: 20px;
}


.order-cart {
    border: 1px solid black;
    max-width: 1200px;
    height: 50px;
    background-color: #c9ddeb;
}

.order-cart-light {
    background-color: white;
}

.btn:hover {
    cursor: default;
}

.btn-info:hover {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:focus {
    box-shadow: none !important;
}

.btn-info:active {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}
