.change-title {
    font-size: 1.9rem;
}

.back-shopping {
  height: 50px;
  width: 250px;
  background-color: #5F9EA0;
  border: 1px solid #5F9EA0;
  border-radius: 6px;
}

.back-shopping:hover {
  cursor: pointer;
  border-radius: 6px;
  background-color: #00CED1;
  border: 1px solid #00CED1;

}

.form-label-title {
    font-size: 20px;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}