.input_field {
  width: 230px;
}

.info {
	background-color: #79aec8;
	color: white;
}

.delete_button {
  background-color: red;
  color: white;
  border: 1px solid red;
  width: 134px;
}

 .save_button {
  width: 150px;
}