.header {
  font-size: 23px;
  margin-top: 10px;
}

.product {
  background-color: white;
}

.contacts {
  background-color: white;
  height: 550px;
}

.input-field {
  width: 350px;
}

.field {
  margin-top: 16px;
}

.image-place {
}

.description {
  font-size: 18px;
}

.order-info {
  font-size: 18px;
}

.checkout {
  border-radius: 3px;
  height: 55px;
  text-align: center;
  background-color: #65c000;
  color: white;
  max-width: 250px;
}

.checkout:hover {
  cursor: pointer;
}

.delete-product {
  background-color: #CD5C5C;
  border-radius: 6px;
  border: 1px solid #CD5C5C;
}

.delete-product:hover {
  cursor: pointer;
  background-color: #F08080;
  border-radius: 6px;
  border: 1px solid #E9967A;
}

.back-shopping {
  height: 50px;
  width: 250px;
  background-color: #5F9EA0;
  border: 1px solid #5F9EA0;
  border-radius: 6px;
}

.back-shopping:hover {
  cursor: pointer;
  border-radius: 6px;
  background-color: #00CED1;
  border: 1px solid #00CED1;

}