.head {
   background-color: white;
   border: 2px solid #f6f6f6;
 }

.body{
  background-color: white;
}

.cart-item {
    display: inline-block;
    width: 30px;
    height: 25px;
}

.stock {
    display: none;
}

.counter:hover {
    cursor: pointer;
}

.product-count {
    border-width: 0px;
    width: 30px;
    text-align: center;
    background-color: inherit;
}

.buy {
    background-color: #65c000;
    color: white;
    height: 50px;
    border-radius: 10px;
}

.buy:hover{
  cursor: pointer;
}

.text-span {
  font-size: 26px;
}

.text-span:hover{
  cursor: pointer;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1000;
}

.hide {
    display: none;
}

.form {
    max-width: 850px;
    height: 550px;
    border: 1px solid black;
    background-color: #f6f6f6;
    border-radius: 6px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 250px;
    left: 0;
    right: 0;
    display: none;
}

.header {
  margin-top: 15px;
  text-align: left;
  font-size: 25px;
  margin-bottom: 5px;
}

.place-close-button {
  margin-top: 5px;
  text-align: right;
}

.close-button {
  width: 20px;
}

.image-place {
  text-align: left;
}

.description {
  font-size: 20px;
}

.sum-for-product {
    color: #696969;
    font-size: 18px;
}

.back {
  border-radius: 3px;
  height: 50px;
  text-align: center;
  background-color: #48D1CC;
  color: white;
  width: 260px;
  border: 1px solid  #48D1CC;
}

.back:hover {
  cursor: pointer;
}

.checkout {
  border-radius: 3px;
  height: 50px;
  background-color: #65c000;
  color: white;
  border: 1px solid #65c000;
  width: 260px;
}

.checkout:hover{
  cursor: pointer;
}

.text {
  color: black;
}
