body {
    background-color: white;
}

a {
  color: black;
}

.container-height {
  height: 100vh;
}

.checkout {
  border-radius: 3px;
  height: 50px;
  text-align: center;
  background-color: #65c000;
  color: white;
  border: 1px solid #65c000;
  width: 200px;
}

.checkout:hover {
  background-color: #00d924;
  border: 1px solid #00d924;
  cursor: pointer;
}

.card-item {
  border: 1px solid #DCDCDC;
  border-radius: 6px;
}

.card-item:hover {
  border: 2px solid #D3D3D3;
}

.product-info span{
  color: black;
  font-size: 20px;
}

.info {
  font-size: 22px;
}

.custom-select {
  width: 200px;
}



