.resualt-head {
    text-align: center;
    margin-bottom: 20px;
}
.search-card {
    border: 2px solid bisque;
    max-width: 330px;
    margin: auto auto 20px;
}

.description p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
}

.product-head {
    text-align: center;
    margin-top: 10px;
}

.product-image {
    text-align: center;
}

.image-width {
    width: 80%;
}

.search-card:hover {
    background-color: linen;
    cursor: pointer;
}

.bar {
    background-color: bisque;
    height: 100vh;
}