[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
flake8 = "*"
pytest = "*"

[packages]
django = "*"
psycopg2-binary = "*"
python-logstash = "*"
pillow = "*"
django-crispy-forms = "*"
elasticsearch-dsl = "<7.0,>=6.0"
django-elasticsearch-dsl = ">=6.0,<7.0"

[requires]
python_version = "3.6"
