[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
flake8 = "*"
pytest = "*"

[packages]
django = "*"
psycopg2-binary = "*"
python-logstash = "*"
django-elasticsearch-dsl = "*"
elasticsearch-dsl = "*"
pillow = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.6"
