{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "ba-css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "ba-css/add_basket.css" %}">
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-sm-center justify-content-md-center justify-content-lg-start">
        <div class="col-5 mt-2">
          <div class="row">
            <div class="col-12">
              <span>Add basket</span>
            </div>
            <div class="col-12"><hr>
              <div class="row">
                <div class="col-3">
                  <label for="status" class="form-label-title">Status:</label>
                </div>
                <div class="col-9">
                  <select class="custom-select">
                    <option selected>---------</option>
                    <option>Заказ оплачен</option>
                    <option>Товар доставлен</option>
                    <option>Товар отправлен</option>
                  </select>
                </div>
              </div><hr>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-3">
                  <label for="date"  class="form-label-title">Date:</label>
                </div>
                <div class="col-9">
                  <input type="date" class="form-control input_field" id="date" name="date" placeholder="Дата" required>
                </div>
              </div>
            </div>
            <div class="col-12 mt-2">
              <div class="row">
                <div class="col-3">
                  <label for="time" class="form-label-title">Time:</label>
                </div>
                <div class="col-9">
                  <input type="time"  class="form-control input_field">
                </div>
              </div>
            </div>
            <div class="col-12"><hr>
              <div class="row">
                <div class="col-3">
                  <label for="delivery_date"  class="form-label-title">Delivery date:</label>
                </div>
                <div class="col-9">
                  <input type="date" class="form-control input_field" id="date" name="date" placeholder="Дата" required>
                </div>
                <div class="col-12 mt-2">
                  <div class="row">
                    <div class="col-3">
                      <label for="time" class="form-label-title">Time:</label>
                    </div>
                    <div class="col-9">
                      <input type="time"  class="form-control input_field">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12"><hr>
              <div class="row">
                <div class="col-3">
                  <label for="sum" class="form-label-title">Sum price:</label>
                </div>
                <div class="col-9">
                  <input type="number" class="form-control input_field" value="0.00">
                </div>
              </div><hr>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-3">
                  <label for="users" class="form-label-title">User:</label>
                </div>
                <div class="col-9">
                  <select class="custom-select">
                    <option selected>---------</option>
                    <option>Заказ оплачен</option>
                    <option>Товар доставлен</option>
                    <option>Товар отправлен</option>
                  </select>
                  <a href="#"><img class="ml-2" src="{% static "close_button.png" %}" width="15px" height="15px"></a>
                </div>
              </div>
            </div>
            <div class="col-12"><hr>
              <div class="row">
                <div class="col-3">
                  <label for="fio" class="form-label-title">Fio:</label>
                </div>
                <div class="col-9">
                  <input type="text" class="form-control input_field">
                </div>
              </div>
            </div>
            <div class="col-12"><hr>
              <div class="row">
                <div class="col-3">
                  <label for="email" class="form-label-title">E-mail:</label>
                </div>
                <div class="col-9">
                  <input type="text" class="form-control input_field">
                </div>
              </div>
            </div>
            <div class="col-12"><hr>
              <div class="row">
                <div class="col-3">
                  <label for="address" class="form-label-title">Address:</label>
                </div>
                <div class="col-9">
                  <input type="text" class="form-control input_field">
                </div>
              </div>
            </div>
            <div class="col-12"><hr>
              <div class="row">
                <div class="col-3">
                  <label for="phone_number" class="form-label-title">Phone number:</label>
                </div>
                <div class="col-9">
                  <input type="text" class="form-control input_field">
                </div>
              </div>
            </div>
            <div class="col-12"><hr>
              <div class="row">
                <div class="col-3">
                  <label for="info" class="form-label-title">Info:</label>
                </div>
                <div class="col-9">
                  <textarea class="form-control is-invalid" id="validationTextarea" required></textarea>
                </div>
              </div><hr>
            </div>
            <div class="col-12">
              <div class="row ">
                <div class="col-12 text-center">
                  <form method="post">
                    <button type="button submit" class="save_button btn btn-primary">Save</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
