{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "ba-css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "ba-css/add_product.css" %}">
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-sm-center justify-content-md-center justify-content-lg-start">
        <div class="col-5 mt-2">
          <form method="post" action="/edit/products/"> {% csrf_token %}
          <div class="row justify-content-between">
            <div class="col-6">
              <span>Add product</span>
            </div>
            <div class="col-2 back_button text-center">
              <span><a style="color: white" href="/edit/products/">Back</a></span>
            </div>
          </div><hr>
          <div class="col-12">
            <div class="row">
              <div class="col-3">
                <label for="name" class="form-label-title">Name:</label>
              </div>
              <div class="col-9">
                <input type="text" class="form-control input_field" value="{{product.name}}">
              </div>
            </div>
          </div>
          <div class="col-12"><hr>
            <div class="row">
              <div class="col-3">
                <label for="description" class="form-label-title">Description:</label>
              </div>
              <div class="col-9">
                <textarea class="form-control is-invalid" id="validationTextarea" name="description" value="{{product.description}}"></textarea>
              </div>
            </div><hr>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-3">
                <label for="category" class="form-label-title">Category:</label>
              </div>
              <div class="col-9">
                <select class="custom-select" name="category" value="{{product.category}}">
                  <option selected>---------</option>
                  {% for cat in cats %}<option>{{cat}}</option>{% endfor %}
                </select>
                <a href="/edit/categories/0"><img class="ml-2" src="{% static "close_button.png" %}" width="15px" height="15px"></a>
              </div>
            </div>
          </div>
          <div class="col-12"><hr>
            <div class="row">
              <div class="col-3">
                <label for="price" class="form-label-title">Price:</label>
              </div>
              <div class="col-9">
                <input type="number" class="form-control input_field" value="{{product.price}}" name="price">
              </div>
            </div><hr>
          </div>
          <div class="col-12"><hr>
            <div class="row">
              <div class="col-3">
                <label for="discount" class="form-label-title">Discount:</label>
              </div>
              <div class="col-9">
                <input type="number" class="form-control input_field" value="{{product.discount}}" name="discount">
              </div>
            </div><hr>
          </div>
          <div class="col-12"><hr>
            <div class="row">
              <div class="col-3">
                <label for="amount" class="form-label-title">Amount:</label>
              </div>
              <div class="col-9">
                <input type="number" class="form-control input_field" value="{{product.amount}}" name="amount">
              </div>
            </div><hr>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-3">
                <label for="sell_state" class="form-label-title">Sale state:</label>
              </div>
              <div class="col-9">
                <select class="custom-select" name="sell_state" value="{{product.sell_state}}">
                  <option selected>---------</option>
                  <option>Есть в наличии</option>
                  <option>Нет в наличии</option>
                  <option>На заказ</option>
                </select>
              </div>
            </div><hr>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-3">
                <label for="photo" class="form-label-title">Photo:</label>
              </div>
              <div class="col-9 custom-file">
                <label class="custom-file-label input_field ml-3" for="customFile">Choose file</label>
                <input type="file" class="custom-file-input" id="customFile" name="photo" value="{{product.photo}}">
              </div>
            </div><hr>
          </div>
          <div class="col-12">
            <div class="row ">
              <div class="col-12 text-center">
                <button type="button submit" class="save_button btn btn-primary">Save</button>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
