{% extends 'base.html' %}{% load static %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "ba-css/cabinet.css" %}">
{% endblock %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="table">   
      <div class="col-12 mt-4 text-center">
        <div class="header">
          <h1>Личный кабинет</h1>
        </div>
      </div>
      <div class="col-12 header-settings"><hr>
        <img src="{% static "userconfig.png" %}" alt="settings">
        <span>Настройки</span><hr>
      </div>
      <div class="col-12">
        <form class="form-settings" action="" method="post">{% csrf_token %}
          {{ form }}
          {{ form2 }}
          <div class="col-auto form-button text-center">
            <button type="submit" class="btn btn-success mt-3" id="apply_button">Сохранить</button>
          </div>
        </form>
      </div>
      <div class="col-12 header-orders"><hr>   
        <img src="{% static "order.png" %}" alt="settings">
        <span class="ml-4">Ваши заказы</span><hr>
      </div>
      <div class="col-12 mt-2 mb-3 text-left">
        <button type="button" class="btn btn-info mt-2">
          Все заказы <span class="badge badge-dark">0</span>
        </button>
      </div>
      <div class="col-12 table-orders">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark text-center">
            <tr>
              <th scope="col">Дата</th>
              <th scope="col" class="d-none d-sm-table-cell">Адрес</th>
              <th scope="col" class="d-none d-sm-table-cell">Статус</th>
              <th scope="col">Сумма</th>
              <th scope="col">Товары</th>
            </tr>
          </thead>
          <tbody>
            {% for i in user.basket_set.all %}
            <tr>
              <td>{{i.date}}</td>
              <td class="d-none d-sm-table-cell">{{i.address}}</td>
              <td class="d-none d-sm-table-cell">{{i.status}}</td>
              <td>{{i.sum_price}}</td>
              <td>{{i.singleorder_set.all|join:", "}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}