{% extends 'base.html' %}{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "ba-css/order_complete.css" %}">
{% endblock %}

{% block title %}Спасибо за заказ!{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-12 text-center mt-2">
          <h1>Благодарим Вас за покупки</h1>
        </div>
        <div class="col-12 mt-2">
          <h3>Ваши товары:</h3>
        </div>
        <div class="col-12"><hr>
          <div class="row">
            <div class="col-lg-2 col-3 col-md-3">
              <img class="product-img" src="https://via.placeholder.com/80x80" alt="product_img">
            </div>
            <div class="col-lg-6 col-8  col-md-9 text-center text-lg-left text-md-center">
              <span><h3>Товар 1</h3></span>
            </div>
            <div class="col-lg-4 col-12 col-md-12 text-center text-lg-right mt-2" >
              <span><h3>Цена товара: 1000грн</h3></span>
            </div>
          </div><hr>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
              <span><h3>Итоговая сума:</h3></span>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
              <span><h3>1000 грн</h3></span>
            </div>
          </div>
        </div>
        <div class="col-12 ">
          <div class="row justify-content-center">
             <div class="col-lg-4 col-8 col-md-8 text-center back-button">
              <a style="text-decoration: none; color:white;" href="/base/">Вернутся к покупкам</a>
            </div>
          </div>
        </div>
      </div> 
    </div>
{% endblock %}

