{% extends 'base.html' %}{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "ba-css/order_complete.css" %}">
{% endblock %}

{% block title %}Спасибо за заказ!{% endblock %}

{% block content %}
    <div class="container flex-grow-1">
      <div class="row">
        <div class="col-12 text-center mt-2">
          <h1>Благодарим Вас за покупки</h1>
        </div>
        <div class="col-12 mt-2">
          <h3>Ваши товары:</h3>
        </div>
        <div class="col-12"><hr>
        {% for i in items %}
          <div class="row">
            <div class="col-lg-2 col-3 col-md-3">
              <img class="product-img" src="https://via.placeholder.com/80x80" alt="product_img">
            </div>
            <div class="col-lg-4 col-8  col-md-9 text-center text-lg-left text-md-center">
              <span><h3>{{ i.product.name }}</h3></span>
            </div>
            <div class="col-lg-6 col-12 col-md-12 text-center text-lg-right mt-2" >
              <span><h3>Цена товара: {{ i.sum_price }} грн</h3></span>
              <span><h4>Количество: {{ i.amount }}</h4></span>
            </div>
          </div><hr>
        {% endfor %}
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-12 text-center text-lg-right">
              <span><h3>Итоговая сума: {{ order.sum_price }} грн</h3></span>
            </div>
          </div>
        </div>
        <div class="col-12 text-center mt-4">
          <a href="/"><button type="button submit" class="btn btn-primary back-button ">Приступить к покупкам!</button></a>
        </div>
      </div> 
    </div>
{% endblock %}

