{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            Реквизиты: <br>
            Номер карты (Приват Банк): 5404 3678 2415 9678
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            Телефоны: <br>
            <div>
              380(96)054-51-04 <br>
              380(66)060-74-32 <br>
              380(73)017-49-51
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            E-mail<br>
            <div>
              marderosov7@gmail.com <br>
              marderosov67@gmail.com
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            График работы Call-центра <br>
            <div>
              пн-пт: 9:00 - 20:00 <br>
              сб-вс: 9:00 - 19:00
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
