{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="{% static "ba-css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "ba-css/edit_user.css" %}">
	<title></title>
</head>
<body>
	<form method="post" action="">
		<div class="container">
			<div class="row">
				<div class="col-12 mb-1 mt-3">
					<div class="row">
						<div class="col-6">
							<span><h6>Select user to change</h6></span>
						</div>
						<div class="col-4">
							<a class="info" href="/edit/users/1">Add user</a>
						</div>
						<div class="col-2 text-right">
							<span><a style="color:black" href="/edit/">Back</a></span>
						</div>
						<div class="col-12 mt-3 mb-3">
							<div class="row">
								<div class="col-1 text-right">
									<img src="{% static "magnifier.png" %}" height="15px" width="15px">
								</div>
								<div class="col-6">
									<input type="text" class="form-control" name="">
								</div>
								<div class="col-5">
									<button type="button submit" class="btn btn-primary search_button">Search</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<td class="table_head">
								<strong><h5>E-mail</h5></strong>
							</td>
							<td class="table_head">
								<strong class="text-left"><h5>Is admin</h5></strong>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="checkbox"></input>
								<a class="info ml-2" href="/edit/users/1">Test_user@gmail.com</a>
							</td>
							<td>
								<div class="text-left">
									<img src="{% static "check_mark.png" %}" width="15px" height="15px">
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<input type="checkbox"></input>
								<a class="info ml-2" href="/edit/users/1">Test_user2@gmail.com</a>
							</td>
							<td>
								<div class="text-left">
									<img src="{% static "close.png" %}" width="15px" height="15px">
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>	
		</div>
	</form>
</body>
</html>