{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "ba-css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "ba-css/edit_basket.css" %}">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 mb-1 mt-3">
          <div class="row">
            <div class="col-6">
              <span><h6>Select order to change</h6></span>
            </div>
            <div class="col-2 text-right">
              <span><a style="color: black" href="/edit/">Back</a></span>
            </div>
            <div class="col-6 text-right">
              <a class="info" href="#">Add order</a>
            </div>
          </div>
        </div>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <td class="table_head"><strong><h5>Orders</h5></strong><a href="/edit/">edit/</a>orders/</td>
              <td class="table_head"></td>
            </tr>
          </thead>
          <tbody>
            {% for basket in baskets %}
            <tr>
              <td>
                <input type="checkbox">
                <a class="info" href="#">{{basket.date}}, {{basket.id}}, {{basket.status}}</a>
              </td>
              <td>
                {% if basket.status < 1 %}
                <div class="text-right">
                  <img src="{% static "trash.png" %}" width="15px" height="15px">
                  <a href="#" class="mr-3 info">Delete</a>
                </div>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="col-12 mt-3">
          <div class="row">
              <div class="col-6">
                <button type="button" class="delete_button btn btn-primary">Delete all</button>
              </div>
              <div class="col-6 text-right">
                <button type="button" class="delete_selected btn btn-primary">Delete selected</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
