{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Информация</p>
            <ul style="list-style-type:none;">
                <li> <a href="#">О нас</a> </li>
                <li> <a href="#">Доставка и оплата</a> </li>
                <li> <a href="#">Контакты</a> </li>
            </ul>
            <p>Мы в соцсетях</p>
            <a href="http://127.0.0.1:8000/"></a>
        </div>
    </div>
</div>
{% endblock content %}