{% extends 'base.html' %}

{% block footer %}
<div class="container">
    <div class="row">
        <div>
            <p>Информация</p>
            <ul style="list-style-type:none;">
                <li> <a href="http://127.0.0.1:8000/">О нас</a> </li>
                <li> <a href="http://127.0.0.1:8000/">Доставка и оплата</a> </li>
                <li> <a href="http://127.0.0.1:8000/">Контакты</a> </li>
            </ul> 
        </div>
        <div>
            <p>Мы в соцсетях</p>
            <a href="http://127.0.0.1:8000/"><img src="w3schools.jpg" alt="W3Schools.com" width="32" height="32"></a>
        </div>
    </div>
</div>
{% endblock %}