{% extends 'base.html' %}{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "ba-css/order.css" %}">
{% endblock %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="container-fluid mt-4">
        <div class="row text-center justify-content-around no-gutters">
              <div class="col-md-5 cart mb-4">
                <div class="main-info">
                    <img src="https://via.placeholder.com/500x200" alt="">
                    <h3 class="cart-header"><span class="title-cart mt-4">Название</span></h3>
                    <div class="cart-footer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius iusto natus, nisi quaerat quasi quidem quisquam voluptatum. Aliquam, molestiae, similique.</p>
                    </div>
                </div>
            </div>
              <div class="col-md-5 cart mb-4">
                <div class="main-info">
                    <img src="https://via.placeholder.com/500x200" alt="">
                    <h3 class="cart-header"><span class="title-cart mt-4">Название</span></h3>
                    <div class="cart-footer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius iusto natus, nisi quaerat quasi quidem quisquam voluptatum. Aliquam, molestiae, similique.</p>
                    </div>
                </div>
            </div>
              <div class="col-md-5 cart mb-4">
                <div class="main-info">
                    <img src="https://via.placeholder.com/500x200" alt="">
                    <h3 class="cart-header"><span class="title-cart mt-4">Название</span></h3>
                    <div class="cart-footer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius iusto natus, nisi quaerat quasi quidem quisquam voluptatum. Aliquam, molestiae, similique.</p>
                    </div>
                </div>
            </div>
              <div class="col-md-5 cart mb-4">
                <div class="main-info">
                    <img src="https://via.placeholder.com/500x200" alt="">
                    <h3 class="cart-header"><span class="title-cart mt-4">Название</span></h3>
                    <div class="cart-footer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius iusto natus, nisi quaerat quasi quidem quisquam voluptatum. Aliquam, molestiae, similique.</p>
                    </div>
                </div>
            </div>
              <div class="col-md-5 cart mb-4">
                <div class="main-info">
                    <img src="https://via.placeholder.com/500x200" alt="">
                    <h3 class="cart-header"><span class="title-cart mt-4">Название</span></h3>
                    <div class="cart-footer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius iusto natus, nisi quaerat quasi quidem quisquam voluptatum. Aliquam, molestiae, similique.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 cart mb-4">
                <div class="main-info">
                    <img src="https://via.placeholder.com/500x200" alt="">
                    <h3 class="cart-header"><span class="title-cart mt-4">Название</span></h3>
                    <div class="cart-footer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius iusto natus, nisi quaerat quasi quidem quisquam voluptatum. Aliquam, molestiae, similique.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}