{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{% static "ba-css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "ba-css/auth.css" %}">
	<meta charset="UTF-8">
	<title>Вход</title>
</head>
<body>
	<form id="auth_form" action="" method="post"> {% csrf_token %}
		<div class="container">
			<div class="row auth align-items-center"> {{ form.non_field_errors }}
				<div class="col-12 text-center mt-4">
					<h1>Авторизация</h1>
				</div>
				{{ form.non_field_errors }}
				{% for field in form %}
					<div class="col-12 text-center">
					<label class="form-label-title" for="{{ field.id_for_label }}">{{ field.label }}</label><br>
					{{ field }} {{ field.errors }}
					</div>
				{% endfor %}
				<div class="col-12 text-center mt-4">
					<button type="submit" class="authorization-button">Войти</button>
				</div>
				<div class="col-12 text-center cancel mt-2">
					<a href="/">Отмена</a>
				</div>
			</div>
		</div>
	</form>
</body>
</html>