{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{% static "ba-css/auth.css" %}">
     <link rel="stylesheet" href="{% static "ba-css/settings.css" %}">
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	{%  block content %}
	<form id="auth_form" action="" method="post"> {% csrf_token %}
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<label class="form-label-title" for="login">Введите логин:</label><br>
					<input type="login" class="login-form">
				</div>
				<div class="col-12 text-center">
					<label class="form-label-title" for="password">Введите пароль:</label><br>
					<input type="password" class="login-form">
				</div>
				<div class="col-12 text-center mt-4">
					<button type="submit" class="authorization-button">Войти</button>
				</div>
			</div>
		</div>
	</form>
	{% endblock %}
</body>
</html>
<!-- {% load static %}
<form id="auth_form" action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input id="auth_button" type="submit" value="Submit">
</form> -->