{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{% static "ba-css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "ba-css/auth.css" %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Авторизация</title>
</head>
<body>
	<div class="auth-form">
		<div class="container h-100">
			<div class="row h-100 justify-content-center align-items-center">
				<div class="col-md-12 ">
					<form id="auth_form" action="" method="post"> {% csrf_token %}
						
						{% for field in form %}
						<div class="col-12 text-center align-self-center mt-4">
							<label class="form-label-title form-info" for="{{ field.id_for_label }}">{{ field.label }}</label><br>
							{{ field }} {{ field.errors }}
						</div>
						{% endfor %}
						<div class="col-12 error text-center mt-2">{{ form.non_field_errors }}</div>
						
						<div class="col-12 text-center mt-3 align-self-center">
							<button type="submit" class="btn btn-success">Войти</button>
						</div>
						<div class="col-12 text-center cancel mt-2 align-self-center">
							<a href="/{{request.pages.reset}}">Забыли пароль?</a>
						</div>
						<div class="col-12 text-center cancel mt-2 align-self-center">
							<a href="/">Отмена</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
