{% extends 'base.html' %}{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "ba-css/order.css" %}">
{% endblock %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <!-- EMPTY BASKET START -->
    {% if items|length == 0 %}
    <div class="container container-heignt ">
      <div class="row justify-content-center ">
        <div class="col-12 mt-4 text-center">
          <span><h3>В данный момент Ваша корзина пуста.</h3></span>
        </div>
        <div class="col-12 text-center mt-4">
          <a href="/"><button type="button submit" class="btn btn-primary back-shopping ">Приступить к покупкам!</button></a>
        </div>
      </div>
    </div>
    <!-- EMPTY BASKET END -->
    {% else %}
    <div class="container">
      <div class="row mt-3">
        <div class="col-12 col-lg-6">
          <form action="/order/complete/" method="post">{% csrf_token %}
            <div class="row contacts">
              <div class="col-12">
                <h3>Контактные данные:</h3><hr>
              </div>{{ form.non_field_errors }}
              {% for field in form %}
              <div class="col-12">
                <div class="form-label-title">{{ field.label_tag }}</div> {{ field }} {{ field.errors }}
              </div>
              {% endfor %}
              <div class="col-12 text-center mt-md-2">
               <button type="button submit" class="checkout btn btn-primary">Подтвердить заказ</button>
              </div>
            </div> 
          </form>
        </div>
        <div class="col-12 col-lg-6">
          <div class="row product">
            <div class="col-12 text-lg-right text-center">
              <h3>Ваш заказ:</h3><hr>
            </div>
            {% for i in items %}
            <div class="col-4">
              <img src="https://psmedia.playstation.com/is/image/psmedia/ps4-pro-listing-thumb-01-ps4-eu-06sep16?$Icon$" class="img-fluid img-thumbnail">
            </div>
            <div class="col-8 description">
              {{i.name}}<br>
              <span>Количество: {{i.amount}} шт.</span><br>
              <span>Цена: {{i.price}} грн</span>
            </div>
            <div class="col-12 text-center mt-2">
              <form action="/order/del/" method="post"> {% csrf_token %}
                <button type="button submit" class="btn btn-primary delete-product" name="oid" value="{{i.id}}">Удалить</button>
              </form>
            </div>
            {% endfor %}
            <div class="col-12 order-info text-center text-lg-right">
              <hr><span>Всего к оплате:<b> {{sum_price}} грн</b></span><hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}