{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "ba-css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "ba-css/order.css" %}">
    <title></title>
  </head>
  <style>
    body {
      background: #f6f6f6;
    }
  </style>
  <body>
    <form action="/order_complete/" method="post"> {% csrf_token %}
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-12 col-md-12 col-lg-6">
            <div class="col-12">
              <div class="row contacts">
                <div class="col-12">
                  <span class="header">Оформление заказа</span><hr>
                </div>
                <div class="col-12">
                  <span class="header">Контактные данные:</span>
                </div>
                <div class="col-12">
                  <label for="fio" class="form-label-title">ФИО:</label><br>
                  <input class="input-field form-control" type="text" name="fio"
                    value="{% if user.is_authenticated %}{{user.last_name}} {{user.first_name}}{% endif %}">
                </div>
                <div class="col-12">
                  <label for="phone_number" class="form-label-title">Номер телефона:</label><br>
                  <input class="input-field form-control" type="text" name="phone_number" value={{user.phone_number}}>
                </div>
                <div class="col-12">
                  <label for="email" class="form-label-title">E-mail:</label><br>
                  <input class="input-field form-control" type="text" name="email" value={{user.email}}>
                </div>
                <div class="col-12">
                  <label for="address" class="form-label-title">Адрес доставки:</label><br>
                  <input class="input-field form-control" type="text" name="address" value="{{user.address}}">
                </div>
                <div class="col-12">
                  <div class="row ">
                    <div class="col-12 text-center ">
                      <button type="button submit" class="checkout btn btn-primary">Подтвердить заказ</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-5 mt-md-5 mt-lg-0">
            <div class="col-12">
              <div class="row product">
                <div class="col-12 text-lg-right text-md-left text-right">
                  <span class="header">Ваш заказ</span><hr>
                </div>
                <div class="col-8 order-info">
                  <span>Всего к оплате:</span>
                </div>
                <div class="col-4 order-info">
                  <span><strong>{{sum_price}}.00 грн</strong></span>
                </div>
                {% for i in items %}
                  <div class="col-4 image-place"><hr>
                    <img src="https://psmedia.playstation.com/is/image/psmedia/ps4-pro-listing-thumb-01-ps4-eu-06sep16?$Icon$" class="img-fluid img-thumbnail">
                  </div>
                  <div class="col-8 description"><hr>
                    {{i.name}}
                  </div>
                  <div class="col-8 order-info">
                    <span>Цена:</span>
                  </div>
                  <div class="col-4 order-info">
                    <span><strong>{{i.price}}.00 грн</strong></span>
                  </div><hr>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
