{% load static %}
{% block product_page %}
<!DOCTYPE html>
<html lang="en">
<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static "ba-css/bootstrap.css" %}">
      <link rel="stylesheet" href="{% static "ba-css/product_page.css" %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
<div class="order-effect" id="order-effect">
    <div class="container main">
        <div class="row">
            <div class="overlay hide">
                <form action="/order/" method="post">
                    {% csrf_token %}
            <div id="modal-form" class="form">
              <img  id="modal-quit" class="close-button" src="https://avatanplus.com/files/resources/mid/573b43405fee9154bf7eb389.png">
                <div class="container">
                    <h1 class="header">Корзина</h1>
                  <div class="row justify-content-center">
                    <div class="col-2 image-place">
                      <img src="https://psmedia.playstation.com/is/image/psmedia/ps4-pro-listing-thumb-01-ps4-eu-06sep16?$Icon$" class="img-fluid img-thumbnail">
                    </div>
                   <div class="col-9 product-description">
                    {{product.description}}
                  </div>
                      <div class="col-md-12 mt-3">
                          <div class="stock" id="stock">{{ product.amount }}</div>
                          <div class="row justify-content-center">
                              <div class="col-md-2 text-center">
                                  <img src="{% static "minus.png" %}" class="counter minus cart-item" alt="minus"/>
                                  <div class="count-change cart-item">
                                      <label for="product-count"></label><input type="text" id="product-count" value="1" name="product_count" class="product-count">
                                  </div>
                                   <img src="{% static "plus.png" %}" class="counter plus cart-item" alt="plus"/>
                              </div>
                              <div class="col-md-9 sum-for-product text-right" >{{ product.price }}</div>
                          </div>
                      </div>
                </div>
                    <hr>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-6 quantity text-center">
                    <h5 class="main-count">Количество: <span id="main-count">1</span></h5>
                  </div>
                  <div class="col-6 purchases-price text-center">
                    <h5>Итоговая сумма: <strong id="full-sum"></strong></h5>
                  </div>
                  <div class="container">
                      <div class="row justify-content-around mt-5">
                          <div class="col-4 back">
                    Вернутся к покупкам
                  </div>
                  <button class="checkout" id="product_id" value="{{ product.id}}">Оформить заказ</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
            </div>
            <div class="col-md-12 col-lg-6">
                <section>
                    <div class="image mt-3"></div>
                </section>
                <div class="row">
                    <div class="col-md-2 mt-3">
                        <div class="image-low m-auto"></div>
                    </div>
                    <div class="col-md-2 mt-3">
                        <div class="image-low m-auto"></div>
                    </div>
                    <div class="col-md-2 mt-3">
                        <div class="image-low m-auto"></div>
                    </div>
                    <div class="col-md-2 mt-3">
                        <div class="image-low m-auto"></div>
                    </div>
                    <div class="col-md-2 mt-3">
                        <div class="image-low m-auto"></div>
                    </div>
                    <div class="col-md-2 mt-3">
                        <div class="image-low m-auto"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <section>
                    <div class="description mt-3">
                        <header>
                            <h2 class="product-header">{{product.name}}</h2>
                        </header>
                        <div class="main mt-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="price"><span class="text-span price-span">{{product.price}} грн.</span></div>
                                </div>
                                <div id="make-order" class="button col-md-6 mt-3 mt-md-0 basket "><span id="make-buy" class="text-span">Купить</span></div>
                            </div>
                                <h5 class="text-center mt-5">Описания товара</h5>
                                {{product.description}}
                            <section class="shipped-to">
                                <p class="mt-4 product-shipped">
                                    <h5 class="text-center">Доставка</h5>
                                    {{product.ship_to}}
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="{% static "ba-js/order-form.js" %}"></script>
    </div>
</body>
</html>
{% endblock product_page %}
