{% load static %}
{% block product_page %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" href="{% static "ba-css/bootstrap.css" %}">
      <link rel="stylesheet" href="{% static "ba-css/product_page.css" %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title></title>
  </head>
  <style>
    body {
      background: #f6f6f6;
    }
  </style>
  <body>
    <div class="container">
      <div class="row">
        <div class="overlay hide">
          <form action="/order/" method="post">
            {% csrf_token %}
            <div id="modal-form" class="form">
              <div class="container">
                <div class="row">
                  <div class="header col-9 col-md-9">
                    <span class="pl-3">Корзина</span>
                  </div>
                  <div class="col-3 col-md-3 place-close-button">
                    <img  id="modal-quit" class="close-button" src="https://avatanplus.com/files/resources/mid/573b43405fee9154bf7eb389.png">
                  </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-5 col-md-5 col-sm-6 image-place">
                          <hr>
                          <img src="https://psmedia.playstation.com/is/image/psmedia/ps4-pro-listing-thumb-01-ps4-eu-06sep16?$Icon$" class="img-fluid">
                        </div>
                        <div class="col-7 col-md-7 col-sm-6 description">
                          <hr>
                          <span class="p-3">{{ product.description }}</span>
                        </div>
                        <div class="col-12">
                          <div class="row">
                            <div class="col-5 col-md-5 col-sm-5 text-center">
                              <div class="stock" id="stock">{{ product.amount }}</div>
                              <img src="{% static "minus.png" %}" class="counter minus cart-item" alt="minus"/>
                              <div class="count-change cart-item">
                                  <label for="product-count"></label><input type="text" id="product-count" value="1" name="product_count" class="product-count">
                              </div>
                               <img src="{% static "plus.png" %}" class="counter plus cart-item" alt="plus"/>
                            </div>
                            <div class="col-7 col-md-7 col-sm-7 sum-for-product text-right" >{{ product.price }}</div>
                          </div>
                          <hr>
                        </div>
                        <div class="container">
                          <div class="row">
                            <div class="col-6">
                              <h5 class="main-count">Количество: <span id="main-count">1</span></h5>
                            </div>
                            <div class="col-6 text-right">
                              <h5>Итоговая сумма: <strong id="full-sum">{{ product.price }}</strong></h5>
                            </div>
                            <div class="col-12">
                              <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 mt-lg-4 mt-md-5 mt-sm-5 text-center pt-3">
                                  <button type="button" class="back btn btn-primary">Вернутся к покупкам</button>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 mt-lg-4 mt-md-5 mt-sm-3 text-center  pt-3">
                                  <button type="button submit" class="checkout btn btn-primary" id="prod_button">Оформить заказ</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 head mt-3">
          <div class="row">
            <div class="col-12">
              <h3>{{ product.name }}</h3>
            </div>
            <div class="col-12">
              <small class="text-muted">Код товара: 1111111</small>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row justify-content-between">
            <div class="col-12 col-md-12 col-sm-12 col-lg-5 mt-1 body">
              <div class="col-12 text-center mt-1">
                <img src="https://via.placeholder.com/300x540">
              </div>
              <div class="col-12 text-center mt-1 mb-1">
                <img src="https://via.placeholder.com/50x50" >
                <img src="https://via.placeholder.com/50x50" >
                <img src="https://via.placeholder.com/50x50" >
                <img src="https://via.placeholder.com/50x50" >
                <img src="https://via.placeholder.com/50x50" >
              </div>
            </div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-6 body mt-1">
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <img src="{% static "check_mark.png" %}" height="18px">
                    <span class="pl-1">В наличии: 24</span>
                  </div>
                  <div class="col-12">
                    <img src="{% static "stars.png" %}" width="100px">
                    <span class="pl-2"> <a class="text" href="#">Отзывы: 11</a></span>
                  </div>
                </div><hr>
              </div>
              <div class="col-12">
                <div class="row align-items-center">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <span><h4>Цена:</h4></span>
                    <span class="cost"><strong><h3>{{ product.price }} грн</h3></strong></span>
                    <div class="stock" id="stock">{{ product.amount }}</div>
                    <img src="{% static "minus.png" %}" class="counter minus cart-item" alt="minus"/>
                    <div class="count-change cart-item">
                      <label for="product-count"></label><input type="text" id="product-count" value="1" name="product_count" class="product-count">
                    </div>
                    <img src="{% static "plus.png" %}" class="counter plus cart-item" alt="plus"/>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-6 mt-2 mt-lg-0">
                    <div id="make-order" class="button basket text-center">
                      <span id="make-buy" class="text-span">Купить</span>
                    </div>
                  </div>
                </div>
              </div><hr>
              <div class="col-12">
                <div class="row">
                  <div class="col-6">
                    <img src="{% static "libra.png" %}" height="18px">
                    <span><a class="text ml-2" href="#">К сравнению</a></span>
                  </div>
                  <div class="col-6">
                    <img src="{% static "star.png" %}" height="18px">
                    <span><a class="text" href="#">Добавить в избранное</a></span>
                  </div>
                </div><hr>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12 description">
                    <span>Описание товара: {{ product.description }}</span>
                  </div>
                </div><hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static "ba-js/order-form.js" %}"></script>
  </body>
</html>
{% endblock product_page %}
