{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "ba-css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "ba-css/registration.css" %}">
    <title></title>
  </head>
  <body>
  <form action="/" method="post">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-12 mt-2 form">
          <div class="col-12 text-lg-left text-sm-center text-md-center">
            <span><h1>Регистрация</h1></span>
          </div>
          <div class="col-12">
            <label for="first_name" class="form-label-title">Имя:</label>
            <input type="text" name="first_name" class="input-field form-control" placeholder="Введите Имя" value="">
          </div>
          <div class="col-12 mt-1">
            <label for="last_name" class="form-label-title">Фамилия:</label>
            <input type="text" class="input-field form-control" placeholder="Введите Фамилию" value="">
          </div>
          <div class="col-12 mt-1">
            <label for="username" class="form-label-title">Логин:</label>
            <input type="text" class="input-field form-control" placeholder="Введите Логин" value="">
          </div>
          <div class="col-12 mt-1">
            <label for="email" class="form-label-title">E-mail:</label>
            <input type="email" class="input-field form-control" placeholder="Введите E-mail" value="">
          </div>
          <div class="col-12 mt-1">
            <label for="password" class="form-label-title">Придумайте пароль:</label>
            <input type="password" class="input-field form-control" placeholder="Пароль:" value="">
            <small class="form-text text-muted">Пароль должен иметь не менее 8 симловов и не должен совпадать с именем E-mail</small>
          </div>
          <div class="col-12 mt-1">
            <label for="password2" class="form-label-title">Повторите пароль:</label>
            <input type="password" class="input-field form-control"placeholder="Пароль:" value="">
          </div>
          <div class="col-12 mt-1">
            <label for="address" class="form-label-title">Адрес:</label>
            <input type="text" class="input-field form-control"placeholder="Город, улица, дом" value="">
          </div>
          <div class="col-12 mt-1">
            <label for="phone_number" class="form-label-title">Номер телефона:</label>
            <input type="text" class="input-field form-control" placeholder="+380">
          </div>
          <div class="col-12 mt-3 mb-2 text-center">
            <button type="button submit" class="reg_button btn btn-primary">Зарегистрироваться</button>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 mt-2 form">
          Place for something
        </div>
      </div>
    </div>
  </form>
  </body>
</html>
